.card_navegation{
  background-color: #121212;
  border-radius: 8px;
  width: 70%;
  height: 51%;
  margin-left: 328px;
  margin-right: 56px;
  position: absolute; /* Alterado de relative para absolute */
  top: 30%; /* Posiciona abaixo da .main-container */

}

.card_utl{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 10px;
    flex-direction: column;
    border-radius: 8px;
    background-color: #121212;
    padding: 10px;
}

.card_navegation .card_boatarde{
    color: white;   
    display: flex;
    font-weight: 700;
}
.card_navegation .card_sessao{
    color: white;   
    display: flex;
    font-weight: 700;
    margin-top: 35px;
}